/* @theme nosnasskolan_rosa */

@import 'nosnasskolan';  

/*
 *   _____      _                      
 *  / ____|    | |                     
 * | |     ___ | | ___  _   _ _ __ ___ 
 * | |    / _ \| |/ _ \| | | | '__/ __|
 * | |___| (_) | | (_) | |_| | |  \__ \
 *  \_____\___/|_|\___/ \__,_|_|  |___/
 */

 :root {
  --color-fg-default: #fcf2f7;  
  --color-canvas-default: #0a0005;  
}

section::before {
  background-image: url('/te4/img/bg_nosnasskolan_rosa.svg');
}
