/* @theme nosnasskolan_gron */

@import 'nosnasskolan';  

/*
 *   _____      _                      
 *  / ____|    | |                     
 * | |     ___ | | ___  _   _ _ __ ___ 
 * | |    / _ \| |/ _ \| | | | '__/ __|
 * | |___| (_) | | (_) | |_| | |  \__ \
 *  \_____\___/|_|\___/ \__,_|_|  |___/
 */

 :root {
  --color-fg-default: #070901;  
  --color-canvas-default: #f9fbf4;  
}

section::before {
  background-image: url('/te4/img/bg_nosnasskolan_gron.svg');
}
