/* @theme tcstenungsund */

@import 'default';  

:root {
  --color-fg-default: #31b1b3;  
  --color-canvas-default: #e8e8e8;  
}

section::before {
  content: ""; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/te4/img/bg_rosa-vit.png');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
  pointer-events: none;
  z-index: 10;
}
